{% extends "base.html" %}

{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to the MiniCasino !</h1>
            {% if user.is_authenticated %}
                <h2>Hello {{ user.username }}</h2>
                <div class="center-buttons">
                    <button class="button button-register">Deposit</button>
                    <button class="button button-login">Spin</button>
                </div>
            {% else %}
                <h2>Register or Login to Play in our MiniCasino</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}
