{% extends "base.html" %}

{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to the MiniCasino !</h1>
            {% if user.is_authenticated %}
                <h2>Hello {{ user.username }}</h2>
                <div>
                    <form method="post" action="{% url 'casino:deposit' %}">
                        {% csrf_token %}
                        <input type="number" name="amount">
                        <button>Deposit</button>
                        {% if deposited %}
                            You have deposited {{ amount }}
                        {% endif %}
                    </form>
                    <form method="post" action="{% url 'casino:spin' %}">
                        {% csrf_token %}
                        <button>Spin</button>
                    </form>
                {% if spined %}
                    You {{ choice }} {{ value }} euros.
                {% endif %}
                Amount to next wagering {{ wager }}
                </div>
            {% else %}
                <h2>Register or Login to Play in our MiniCasino</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}
