{% extends "base.html" %}
{% load staticfiles %}
{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            {% if registered %}
                <h1>You have been registered!</h1>
                <h3><a href="{% url 'index' %}">Go to dashboard</a></h3>
            {% else %}
                <h1>Register Here</h1>
                <h3>Just fill out the form.</h3>
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    <input type="submit" name="" value="Register">
                </form>

            {% endif %}
        </div>
    </div>
{% endblock %}